/* Header */
#header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    position: relative;
    background-color: black;
    margin: -100px -100px 100px -100px;
}

#header .logo {
    text-align: right;
    display: inline-block;	
    width: 100%;
    height: 80px;
    line-height: 100px;
}
#header .logo a {
    font-style: italic;
    text-decoration: none;
	font-size: 26px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	font-weight: 700;
	margin-right: 100px;
}