
/* Footer */

#footer {
	text-align: center;
    color: #fff;
    font-size: 14px;
    top:0px;
  width: 100%;
  height:100px;
  background-color: black;
  

}

#footer .copyright p {
	margin-bottom: 0px;
}
