
<div class="control-section">
    <b>Book an appointment for by double clicking your preffered time slot.</b><br>
    <ejs-schedule #scheduleObj width='100%' height='550px' [eventSettings]="eventSettings" (popupClose)="onPopupClose($event)" [currentView]="setView" [views]="setViews" [startHour]="startHour" [endHour]="endHour" (actionFailure)="onActionFailure()" (cellClick)="onCellClick($event)">
       <ng-template #editorTemplate let-data>
               <table class="custom-event-editor" width="100%" cellpadding="5">
                   <tbody>
                   <tr>
                           <td class="e-textlabel">Customer Name</td>
                           <td colspan="4">
                               <input id="name" class="e-field e-input" type="text" value="{{data.name}}"
                                   name="name" style="width: 100%" required/>
                           </td>
                       </tr>
                       <tr>
                           <td class="e-textlabel">Contact Number</td>
                           <td colspan="4">
                               <input id="phone" class="e-field e-input" type="text" value="{{data.phone}}"
                                   name="phone" style="width: 100%" required />
                           </td>
                       </tr>
                       <tr>
                           <td class="e-textlabel">Customer Location</td>
                           <td colspan="4">
                               <input id="location" class="e-field e-input" type="text" value="{{data.location}}"
                                   name="location" style="width: 100%" />
                           </td>
                       </tr>
                       <tr>
                           <td class="e-textlabel">Comments</td>
                           <td colspan="4">
                               <textarea id="comments" class="e-field e-input" name="comments" rows="3" cols="50"
                                   value="{{data.comments}}"
                                   style="width: 100%; height: 60px !important; resize: vertical"></textarea>
                           </td>
                       </tr>
                       <tr>
                           <td class="e-textlabel">Start Time</td>
                           <td colspan="4">
                               <input id="startTime" class="e-field" data-name="startTime" format="M/dd/yy h:mm a"
                               [value]='dateParser(data.startTime || data.startTime)' disabled style="width: 100%" />
                           </td>
                       </tr>
                       <tr>
                           <td class="e-textlabel">End Time</td>
                           <td colspan="4">
                               <input id="EndTime" class="e-field" data-name="EndTime" format="M/dd/yy h:mm a"
                               [value]='dateParser(data.endTime || data.EndTime)' disabled style="width: 100%" />
                           </td>
                       </tr>
                   </tbody>
               </table>
       </ng-template>
    </ejs-schedule>
    </div>
