
     <!--Barber Details-->
        <div class="grid-container">
          <div class="grid-item" *ngFor="let barber of obj">
            <img src="assets/images/{{barber.barberImg}}" alt="Avatar" class="image" style="width:100%">
            <div class= "details">
            <a> <b>Name :{{barber.name}}</b></a>
            <h4><b>Experience :{{barber.experience}}</b></h4>
            <h4><b>Rating :{{barber.rating}}</b></h4>
            <h4><b>Fees :{{barber.chargePerSession}}</b></h4>
          </div>
          <div class="primary-button">
            <button (click)="callScheduler(barber.id,barber.name)">Schedule your appointment</button>
        </div>
          </div>
        </div>
      
     
            


  
 

