

.grid-container {
    grid-gap: 20px 20px;
    margin: -100px 100px 100px 100px;;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: black;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .image {
    opacity: 5;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .grid-item:hover .image{
    opacity: 0.3;
  }
   
  .details{
    text-align : center;
  }

  .details .a{

    font-size: 14px;
    font-weight: 900px;
    color: black;
  }
 
.primary-button a,
button {
  font: italic;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
    background-color: transparent;
	display: inline-block;
  padding: 8px 20px;
  color: white;
	background-color: #535ba0;
	border: 2px solid #020942;
    transition: all 0.5s;
    width: 200px;
}
.primary-button a:hover,
button:hover {
	color: #fff;
	background-color: rgb(3, 10, 73);
}