
/* Sidebar */

#sidebar {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    -moz-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
    -webkit-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
    -ms-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
    transition: margin-left 0.5s ease, box-shadow 0.5s ease;
    background-color: #24252d;
    position: relative;
    width: 50px;
    padding-top: 30px;
}
#sidebar {
    width: 250px;
    padding-top: 100px;
}
#sidebar > .inner {
    padding: 30px 30px;
    width: 250px;
    position: relative;
}

#sidebar .img-responsive{
    padding-top: 50px;
}

.main-banner{
    background-image:url(../../assets/images/Capture.PNG);
    height: 600px;
}
.primary-button{
padding-top: 580px;

}
