
 <!-- Wrapper -->
 <div id="wrapper">

   <!-- Main -->
     <div id="main">
       <div class="inner">

        
         <!-- Banner -->
         <section class="main-banner">
                <div class="primary-button">
                  <button (click)="btnClick()">Take Your Appointment</button>
              </div>
          </section>
        

       </div>
     </div>

   <!-- Sidebar -->
     <div id="sidebar">
       <div class="inner">
           <!-- Image-->
           <img src="../../assets/images/Saloon.PNG" class="img-responsive">
           
         <!-- Menu -->
         <nav id="menu">
           <ul>
             <li><a href="index.html">Homepage</a></li>
             <li><a href="simple_page.html">Contact Us</a></li>             
           </ul>
         </nav>
       </div>
     </div>


  
 </div>

